{% extends 'base.html' %}
{% block content %}
    <h4 class="text-center">Inventory</h4>
    <section id="inventory" class="py-4">
        <div class="container">
            <div class="row">
                {% if inventory %}
                    {% for item in inventory %}
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card p-3">
                               <h5 class="card-title">{{ item.material_id.title }}</h5>
                               <p class="card-text">{{ item.material_id.get_materialType_display }}</p>
                               <p class="card-text">{{ item.timestamp }}</p>
                               <p class="card-text">{{ item.deadline }}</p>
                               <a href="#" class="btn btn-primary btn-sm">Check-in</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p class="text-center">Inventory empty.</p>
                    </div>
                {% endif %}
    
            </div>
        </div>
    </section>
{% endblock %}