<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">LibMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
        {% if '/' == request.path %}
            class="nav-item nav-link active"
        {% else %}
            class="nav-item nav-link"
        {% endif %}
        href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        <a 
        {% if 'about' in request.path %}
            class="nav-item nav-link active"
        {% else %}
            class="nav-item nav-link"
        {% endif %}
         href="{% url 'about' %}">About</a>
         {% if user.is_authenticated %}
            <a 
            {% if 'materials' in request.path %}
                class="nav-item nav-link active"
            {% else %}
                class="nav-item nav-link"
            {% endif %}
            href="{% url 'materials' %}">Materials</a>
            <a 
            {% if 'inventory' in request.path %}
                class="nav-item nav-link active"
            {% else %}
                class="nav-item nav-link"
            {% endif %}
            href="{% url 'inventory' %}">Inventory</a>
            <a 
            {% if 'dashboard' in request.path %}
                class="nav-item nav-link active"
            {% else %}
                class="nav-item nav-link"
            {% endif %}
            href="{% url 'dashboard' %}">Dashboard</a>
            <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
            </form>
         {% else %}
            <a 
            {% if 'login' in request.path %}
                class="nav-item nav-link active"
            {% else %}
                class="nav-item nav-link"
            {% endif %}
            href="{% url 'login' %}">Login</a>
            <a 
            {% if 'register' in request.path %}
                class="nav-item nav-link active"
            {% else %}
                class="nav-item nav-link"
            {% endif %}
            href="{% url 'register' %}">Register</a>
         {% endif %}
      </div>
    </div>
  </nav>