{% extends 'base.html' %}
{% block content %}
<h4 class="text-center">Login</h4>
<div class="container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>
{% endblock %}