{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-4">Materials</h1>
<section id="materials" class="py-4">
    <div class="container">
        <div class="row">
            {% if materials %}
                {% for material in materials %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card p-3">
                           <h5 class="card-title">{{ material.title }}</h5>
                           <p class="card-text">{{ material.get_materialType_display }}</p>
                           <a href="{% url 'checkout' material.id %}" class="btn btn-primary btn-sm">Check-out</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No materials available</p>
                </div>
            {% endif %}

        </div>
    </div>
</section>
{% endblock %}
